@page
@model ManageUsersModel
@{
    ViewData["Title"] = "Manage users";
    ViewData["ActivePage"] = AdminNavPages.ManageUsers;
}

<div class="row">
    <h5>@ViewData["Title"]</h5>
    <hr />
    <table class="responsive-table striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AllUsers[0].Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AllUsers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <ul id="@item.Id" class="dropdown-content">
                            <li><a asp-page="./DeleteUser" asp-route-id="@item.Id">Delete</a></li>
                        </ul>
                        <a class="dropdown-trigger" href="#!" data-target="@item.Id"><i class="material-icons right">more_vert</i></a>
                        @*
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('.dropdown-trigger').dropdown();
    </script>
}